<div class="col-xs-4 col-xs-offset-4">
    <div class="panel panel-primary">
        <div class="panel-heading">Create Game</div>
        <div class="panel-body">
            <form method="post" ng-submit="createGameForm()">
                <input type="hidden" name="createdBy" ng-bind="user.uuid" />
                <input type="hidden" name="minPlayers" value="2" ng-model="createGameData.minPlayers">
                <input type="hidden" name="minPlanets" value="4" ng-model="createGameData.minPlanets">
                <input type="hidden" name="maxPlanets" value="10" ng-model="createGameData.maxPlanets">
                <div class="form-group">
                    <label>Number of Players</label>
                    <select name="maxPlayers" ng-model="createGameData.maxPlayers" ng-init="createGameData.maxPlayers=2">
                        <option value="2">2</option>
                        <!--<option value="2">3</option>-->
                        <!--<option value="2">4</option>-->
                    </select>
                </div>

                <!--<input type="text" name="min_planets" placeholder="Minimum # of Planets(lowest = 2x #of Players )"/>-->
                <!--<input type="text" name="max_planets" placeholder="Maximum # of Planets(max = 5x #of Players)"/>-->
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="isPublic" ng-model="createGameData.isPublic" ng-init="createGameData.isPublic=true"/>
                        Public
                    </label>
                </div>
                <div class="form-group" ng-if="!createGameData.isPublic">
                    <label>Games Password</label>
                    <input type="text" name="password" class="form-control" ng-model="createGameData.password" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create">
                </div>
            </form>
        </div>
    </div>

</div>
