<div class="col-xs-12">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Created By</th>
                <th>Players</th>
                <th>Map</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="game in games">
                <td>{{game.createdBy.username}}</td>
                <td>{{game.players.length}}/{{game.maxPlayers}}</td>
                <td></td>
                <td><a ui-sref="game({gameId: game.id })">Join Game</a></td>
            </tr>
        </tbody>
    </table>
</div>