<div id="register" class="col-xs-4 col-xs-offset-4" style="margin-top: 50px;">
    <div class="panel panel-primary">
        <div class="panel-heading">Free Registration</div>
        <div class="panel-body">
            <form method="post" ng-submit="registerForm()">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" name="email" placeholder="email" class="form-control" ng-model="registerformData.email" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="password" class="form-control" ng-model="registerformData.password" />
                </div>
                <div class="form-group">
                    <label>Repeat Password</label>
                    <input type="password" name="repeat_password" placeholder="repeated password" class="form-control" ng-model="registerformData.repeated_password" />
                </div>
                <div class="form-group">
                    <label>Pick Your Player Color</label>
                    <input type="text" name="color" placeholder="Hex Color(EX: FFFFFF)" class="form-control" ng-model="registerformData.color" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary"/>
                    <a ui-sref="login" class="btn btn-default">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
<pre>
    {{registerformData}}
</pre>